.view-directory-container {
    height: 100vh;
  }
  
  .directory-structure {
    padding: 20px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    height: 100%;
  }
  
  .content-display {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
  }
  
  .directory-structure ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .directory-structure li {
    margin: 5px 0;
  }
  
  .directory-structure li strong {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Required for react-split-pane */
  .SplitPane {
    height: 100%;
  }
  
  .Pane1, .Pane2 {
    height: 100%;
  }
  
  .Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    box-sizing: border-box;
    background-clip: padding-box;
  }
  
  .Resizer:hover {
    transition: all 2s ease;
  }
  
  .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
  }
  
  .Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  }
  
  .Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }
  
  .Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
  }
  